---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Me">
    <div class="divInicio"> 
        <span class="infoInicio">Transformar necesidades en</span>
        <span class="bg-clip-text-gradient infoInicioEspecial"> experiencias digitales</span>
        <span class="infoInicio"> intuitivas es mi propósito.</span>
    </div>
    <style>
        @reference "tailwindcss";
        span{
            font-size: 85px;
            font-weight: bold;
             letter-spacing: -0.02em; 
             line-height: 1.1;
        }
        .infoInicio{
            color: white;
	    }
        .infoInicioEspecial{
        font-size: 85px;  
    
        }
        .divInicio{
            @apply my-26; 
             text-align: center; 
            
        }

    </style>
</Layout>